<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ site.title }}</title>
<meta name="description" content="{{ site.description }}">
<link rel="stylesheet" href="/css/styles.css">
<link rel="canonical" href="http://localhost:4000/">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/feed.xml">
