body {
  background: #2d2d29;
  color: #bababa;
}

.heading-padded {
  padding-top: 7vh;
}

.row {
  margin: { left: 0; right: 0 }

  > div {
    padding: { left: 0; right: 0; }
  }
}

.row-padded {
  padding-top: 5vh;
}

.lib-item {
  background-color: #3b3b35;
  border-bottom: 5px solid #3ca2a2;
  padding-bottom: 4px;

  &:link,
  &:visited,
  &:active {
    color: #dadada;
  }

  &:hover {
    color: #fafafa;
  }
}

.padded-top {
  padding-top: 10vh;
}

.lib-item.col-sm-6 {
  margin: { left: 2%; right: 2%; }
  width: 46%;
}

.lib-item.col-md-3 {
  margin: { bottom: 1em; left: 2%; right: 2%; }
  width: 21%;
}

.container {
  left: 2%;
  width: 96%;
}

a:link,
a:visited {
  color: #eeeeee;
}

a:hover,
a:active {
  color: #ffffff;
  text-decoration: underline;
}
