<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include head.html %}
  <body>
{% include header.html %}
    <div class="container">
      {{ content }}
    </div>
  </body>
</html>
